// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// COLORS

$darkWhite: #FFFCF8;
$lightGrey: #D9D9D9;
$grey: #7C7C7C;
$darkerGrey: #767676;
$anotherDarkerGrey: #8E8E8E;
$veryDarkGrey: #242323;
$anotherVeryDarkGrey: #191818;
$lightYellow: #FBEDA3;
$yellow: #EBD96B;
$darkYellow: #E5C643;

// GENERAL STYLES

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;

}

// MODAL

#modal{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    backdrop-filter: blur(1.5px);
    #-nav{
        height: 20px;
        width: 100%;
        background-color: $yellow;
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    h2{
        text-transform: uppercase;
        }
    #-buttons{
        position: relative;
    }
    button{
        border: none;
        }
    }
}

// ACCORDION

.accordion{
    background-color: white;
    cursor: pointer;
    padding: 18px 0 18px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    &:after {
        content: "\2303";
        transform: rotate(180deg);
        color: black;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
}
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.active{
    color: black;
    font-weight: 700;
    &:after {
        transform: none;
      }
}

// ARTICLES

.shoe-grid{
    display: flex;
    flex-wrap: wrap;
    .article-wrapper{
        width: 30%;
        img{
            width: -moz-available;
        }
    }
}

// FOOTER

footer{
    font-family: 'Roboto', sans-serif;
}